<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Servlex</servlet-name>
        <servlet-class>org.expath.servlex.Servlex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resource</servlet-name>
        <servlet-class>org.expath.servlex.tools.StaticResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager</servlet-name>
        <servlet-class>org.expath.servlex.manager.Manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListWebapps</servlet-name>
        <servlet-class>org.expath.servlex.manager.List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>org.expath.servlex.manager.Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeployWebapp</servlet-name>
        <servlet-class>org.expath.servlex.manager.DeployWebapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeployFromCxan</servlet-name>
        <servlet-class>org.expath.servlex.manager.DeployFromCxan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWebapp</servlet-name>
        <servlet-class>org.expath.servlex.manager.RemoveWebapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log4jInit</servlet-name>
        <servlet-class>org.expath.servlex.tools.Log4jInitializer</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/classes/log4j.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlex</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resource</servlet-name>
        <url-pattern>/manager/images/*</url-pattern>
        <url-pattern>/manager/style/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager</servlet-name>
        <url-pattern>/manager/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListWebapps</servlet-name>
        <url-pattern>/manager/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/manager/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeployWebapp</servlet-name>
        <url-pattern>/manager/deploy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeployFromCxan</servlet-name>
        <url-pattern>/manager/deploy-cxan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWebapp</servlet-name>
        <url-pattern>/manager/remove</url-pattern>
    </servlet-mapping>
</web-app>
