<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Servlex</servlet-name>
        <servlet-class>org.expath.servlex.Servlex</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Deploy</servlet-name>
        <servlet-class>org.expath.servlex.rest.DeployWebapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log4jInit</servlet-name>
        <servlet-class>org.expath.servlex.tools.Log4jInitializer</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/classes/log4j.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlex</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deploy</servlet-name>
        <url-pattern>/~rest/deploy/*</url-pattern>
    </servlet-mapping>
</web-app>
